 <div class="user-details">
  <h1> Niche Expertise </h1>
  <p> {{site.user_description}} </p>
</div>
  <div class="user">
    <div class="tech">
      <h2>Finance</h2>
      <i class="devicon-html5-plain-wordmark"></i>
      <i class="devicon-bootstrap-plain-wordmark colored"></i>
      <i class="devicon-sass-original colored"></i>
      <p>Info about finance</p>
    </div>
    <div class="tech">
      <h2>Software Development</h2>
      <i class="devicon-python-plain-wordmark colored"></i>
      <i class="devicon-apache-line-wordmark colored"></i>
      <i class="devicon-docker-plain-wordmark colored"></i>
      <p>Some info about the value I offer with coding</p>
    </div>
    <div class="tech">
      <h2>Machine Learning</h2>
      <i class="devicon-github-plain-wordmark colored"></i>
      <i> 
        <img alt="keras" src="{{ "/assets/img/keras.ico" | prepend: site.baseurl }}" />
      </i>
      <i> 
        <img alt="tf" src="{{ "/assets/img/tensorflow.svg" | prepend: site.baseurl }}" />
      </i>
      <i class="devicon-atom-original-wordmark"></i>
      <p>info about machine learning</p>
    </div>
</div>
