<div class="user-details">
  <h1> Highlights from Taylor's Portfolio</h1>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="rescaledranges" src="{{ "/assets/img/full_rescaledranges.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Hurst Rescaled Ranges </h3>
    <ul>
      <li> Python </li>
      <li> Plotly </li> 
      <li> Yahoo API </li>
    </ul>
    <p> Hurst Exponent rescaled ranges </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="hedge_fund" src="{{ "/assets/img/hedge_fund.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Hedge Fund Optimization and Automation </h3>
    <ul>
      <li> R </li>
      <li> Shiny </li>
      <li> Tradestation® </li> 
      <li> Risk management optimization</li>
    </ul>
    <p>Hedge funds require a fully-automated trading platform from trade creation to trade 
      submission and risk tolerance management. Taylor planned and developed the hedge fund’s derivatives 
      trading platform. The algorithmic side of the hedge fund required expertise in both supervised 
      and unsupervised machine learning algorithms. Taylor was recognized as the subject matter expert for 
      tactical coding of trading algorithms in Object-Oriented Easy Language®.</p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="pipeline" src="{{ "/assets/img/pipeline.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Enterprise ML Pipeline </h3>
    <ul>
      <li> PySpark </li>
      <li> OOP Python </li>
      <li> Deep Learning </li>
      <li> Distributed Computing </li>
    </ul>
    <p>A Python and Spark-based pipeline for time series forecasting. This required high levels of 
      organization and thoughtfulness surrounding the underlying infrastructure's scalability. 
      Ultimately this system processed many terabytes of data at scale with high availability 
      requirements all while materially reducing the forecasts error -- the real value. </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="anomaly" src="{{ "/assets/img/anomaly.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Anomaly Detection Service </h3>
    <ul>
      <li> Time Series Modeling </li>
      <li> Bayesian Modeling </li>
      <li> OOP Python Package </li>
      <li> API Development </li>
      <li> AWS Lambda</li> 
    </ul>
    <p>An object-oriented Python package designed to ingest univariate time-series datasets and detect 
      change points and anomalies in the given data. From testing various design paradigms to deploying 
      the package as a Flask API on AWS, this project ultimately delivered a long-term, extensible solution to a 
      very common problem. </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-left">
    <img alt="confidential" src="{{ "/assets/img/confidential.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-right">
    <h3> Confidential Project </h3>
    <ul>
      <li> Python </li> 
      <li> Dask </li>
      <li> AWS EMR </li>
    </ul>
    <p>Can't say much ... </p>
  </div>
</div>
<div class="user-projects">
  <div class="images-right">
    <img alt="nerd" src="{{ "/assets/img/nerd.jpg" | prepend: site.baseurl }}" />
  </div>
  <div class="contents-left">
    <h3> Personal Budgeting Tool </h3>
    <ul>
      <li> R </li> 
      <li> Personal Finances </li>
      <li> Budgeting </li>
      <li> Financial Analysis </li> 
    </ul>
    <p>Anyone who has worked with Taylor, knows he is definitely a nerd at heart. In his personal time, 
      he enjoys thinking about how to analyze data better and glean move value from simplicity. He built
      this simple tool for his personal life to track and understand where and how he can improve the management
      of his own capital. Check out his <a href="https://github.com/taylorfturner/personalFinancialBudgeting">github repo</a> for more!
    </p>
  </div>
</div>

